{{#extend "default"}}
    {{#content "content"}}
    <h1 class="hidden">Developer tasks user list UI</h1>
    {{> top-bar}}

    {{#mainContent}}
    {{> main-content}}
    {{/mainContent}}

    {{#sidebar}}
    {{> sidebar}}
    {{/sidebar}}
    {{/content}}
{{/extend}}