    <!-- top bar -->
    <div class="top-bar">
        <button class="[ menu menu--bars ]">
            <span>toggle menu</span>
        </button>
        <div class="search">
            <label for="search" class="hidden">Search:</label>
            <input class="search__input" type="search" id="search" placeholder="Search" />
        </div>
        <span class="[ icon icon-cog ]"></span>
    </div>
    <!-- end top bar -->